/* You can add global styles to this file, and also import other style files */
.padding-lg{
    padding: 10px 15px;
}
.top-space{
    margin-top:20px;
}

.padding-intern{
    padding: 10px;
}

.center{
    margin:auto;
}

.over-tr:hover{
    background: #eee;
    cursor:pointer;
}